<style>
  .post-card{
    width: 70%;
    margin-left: 180px;
    margin-top: 50px;
    margin-bottom: 70px;
  } 
  @media screen and (max-width: 480px) {
    .post-card{
    width: 90%;
    margin-left: 17px;
    margin-top: 30px;
    margin-bottom: 70px;
  } 
}
</style>
<div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  
  <a target="_blank" href="https://just-the-docs.com/docs{{post.url}}">
    {% if post.featured-img %}
      <figure class="post-card__thumb">
        <img 
          src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_placehold.jpg"
          data-srcset="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_thumb.jpg, {{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_thumb@2x.jpg 2x"
          class="lazyload blur"
          alt="{{post.title}}"
        />
        <noscript><img src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_thumb.jpg" alt="{{ post.title }}"></noscript>
      </figure>
    {% else %}
      <figure class="post-card__thumb">
        <div class="dark-bg"></div>
      </figure>
    {% endif %}
  </a>
  <a target="_blank" class="post-card__inner" href="https://just-the-docs.com/docs{{post.url}}">
    <div class="post-card__header">
      <center>
        <h2>{{ post.title | strip_html | truncate: 50 }}</h2>
      </center>
      
    </div>
   
  </a>
</div>
